.button{
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    padding: 15px 25px;
    background-color: rgb(79, 190, 64);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}