.search{
    .search__actions{
    }
    .search__filters{
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
    }
}

.cocktails { 
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}